/node_modules
/public/hot
/public/mix-manifest.json
/public/storage
/public/support_attachments
/storage/*.key
/vendor
/.idea
/.idea.php2019
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

public/css/app\.css

public/js/app\.js
public/js/admin\.js
public/js/index\.js
config/mail.php

Vagrantfile

public/mix-manifest\.json
node_modules.rar
dbbk_script.php